## Data Importing

Menggabungkan 2 tabel hasil script

In [1]:
import pandas as pd

# Read CSV files into DataFrames
df1 = pd.read_csv('C://Users//Ajeng//Documents//Project Intern Xeratic//final project repo//content.csv')
df2 = pd.read_csv('C://Users//Ajeng//Documents//Project Intern Xeratic//final project repo//context.csv')


if df1.shape[0] != df2.shape[0]:
    raise ValueError("The number of rows in the two files does not match.")

# Concatenate the DataFrames side by side
data = pd.concat([df1, df2], axis=1)
display(data)

#data.to_excel("C://Users//Ajeng//Documents//Project Intern Xeratic//final project repo//test.xlsx")

,halaman1,content,halaman,context,context_number
0,538,KETENAGAKERJAAN,538,BAB,IV
1,538,Umum,538,Bagian,Kesatu
2,538,Dalam rangka penguatan perlindungan kepada ten...,538,Pasal,80
3,539,Ketenagakerjaan,539,Bagian,Kedua
4,539,Beberapa ketentuan dalam Undang-Undang Nomor 1...,539,Pasal,81
...,...,...,...,...,...
118,577,Pasal 51\n(1) Perusahaan Penempatan Pekerja Mi...,577,Ayat,2
119,577,Ketentuan Pasal 53 diubah sehingga berbunyi se...,577,Ayat,3
120,577,Ketentuan Pasal 57 diubah sehingga berbunyi se...,577,Ayat,4
121,578,Pasal 57 (1) Perusahaan Penempatan Pekerja Mig...,578,Ayat,4
122,578,Di antara Pasal 89 dan Pasal 90 disisipkan 1 (...,578,Ayat,5

In [2]:
data = data.drop(data.columns[0], axis=1)

In [3]:
display(data)

,content,halaman,context,context_number
0,KETENAGAKERJAAN,538,BAB,IV
1,Umum,538,Bagian,Kesatu
2,Dalam rangka penguatan perlindungan kepada ten...,538,Pasal,80
3,Ketenagakerjaan,539,Bagian,Kedua
4,Beberapa ketentuan dalam Undang-Undang Nomor 1...,539,Pasal,81
...,...,...,...,...
118,Pasal 51\n(1) Perusahaan Penempatan Pekerja Mi...,577,Ayat,2
119,Ketentuan Pasal 53 diubah sehingga berbunyi se...,577,Ayat,3
120,Ketentuan Pasal 57 diubah sehingga berbunyi se...,577,Ayat,4
121,Pasal 57 (1) Perusahaan Penempatan Pekerja Mig...,578,Ayat,4
122,Di antara Pasal 89 dan Pasal 90 disisipkan 1 (...,578,Ayat,5

add column pasal

In [4]:
# Initialize the new column 'pasal' with None values
data['pasal'] = None

# Iterate over the dataframe to fill in the 'pasal' column based on 'context'
current_pasal = None
for index, row in data.iterrows():
    if row['context'] == 'Pasal':
        current_pasal = row['context_number']
    data.at[index, 'pasal'] = current_pasal

# Show the modified DataFrame to confirm the changes
data.head(10)

,content,halaman,context,context_number,pasal
0,KETENAGAKERJAAN,538,BAB,IV,None
1,Umum,538,Bagian,Kesatu,None
2,Dalam rangka penguatan perlindungan kepada ten...,538,Pasal,80,80
3,Ketenagakerjaan,539,Bagian,Kedua,80
4,Beberapa ketentuan dalam Undang-Undang Nomor 1...,539,Pasal,81,81
5,Ketentuan Pasal 13 diubah sehingga berbunyi se...,539,Ayat,1,81
6,Ketentuan Pasal 14 diubah sehingga berbunyi se...,539,Ayat,2,81
7,(2) Bagi lembaga Pelatihan Kerja swasta yang t...,540,Ayat,2,81
8,Ketentuan Pasal 37 diubah sehingga berbunyi se...,540,Ayat,3,81
9,Ketentuan Pasal 42 diubah sehingga berbunyi se...,540,Ayat,4,81

In [5]:
#create multiple values in the new column with multiple conditions
import numpy as np
conditions = [
    (data['pasal'] == '80'),
    (data['pasal'] == '81'),
    (data['pasal'] == '82'),
    (data['pasal'] == '83'),
    (data['pasal'] == '84')
]
values = ['Kesatu', 'Kedua', 'Ketiga', 'Keempat', 'Kelima']

# Apply conditions and assign the result to a new column 'bagian'
data['bagian'] = np.select(conditions, values, default=None)
data.head()

,content,halaman,context,context_number,pasal,bagian
0,KETENAGAKERJAAN,538,BAB,IV,None,None
1,Umum,538,Bagian,Kesatu,None,None
2,Dalam rangka penguatan perlindungan kepada ten...,538,Pasal,80,80,Kesatu
3,Ketenagakerjaan,539,Bagian,Kedua,80,Kesatu
4,Beberapa ketentuan dalam Undang-Undang Nomor 1...,539,Pasal,81,81,Kedua

In [6]:
conditions = [
    (data['bagian'] == 'Kesatu'),
    (data['bagian'] == 'Kedua'),
    (data['bagian'] == 'Ketiga'),
    (data['bagian'] == 'Keempat'),
    (data['bagian'] == 'Kelima')
]
values = ['Umum', 'Ketenagakerjaan', 'Jenis Program Jaminan Sosial', 'Badan Penyelenggara Jaminan Sosial', 'Pelindungan Pekerja Migran Indonesia']

# Apply conditions and assign the result to a new column 'bagian'
data['nama_bagian'] = np.select(conditions, values, default=None)
data.head()

,content,halaman,context,context_number,pasal,bagian,nama_bagian
0,KETENAGAKERJAAN,538,BAB,IV,None,None,None
1,Umum,538,Bagian,Kesatu,None,None,None
2,Dalam rangka penguatan perlindungan kepada ten...,538,Pasal,80,80,Kesatu,Umum
3,Ketenagakerjaan,539,Bagian,Kedua,80,Kesatu,Umum
4,Beberapa ketentuan dalam Undang-Undang Nomor 1...,539,Pasal,81,81,Kedua,Ketenagakerjaan

In [7]:
data['bab'] = 'IV'
data['konten_bab'] = 'KETENAGAKERJAAN'
data['uu_id'] = 'uu_06_2023'
data.head()

,content,halaman,context,context_number,pasal,bagian,nama_bagian,bab,konten_bab,uu_id
0,KETENAGAKERJAAN,538,BAB,IV,None,None,None,IV,KETENAGAKERJAAN,uu_06_2023
1,Umum,538,Bagian,Kesatu,None,None,None,IV,KETENAGAKERJAAN,uu_06_2023
2,Dalam rangka penguatan perlindungan kepada ten...,538,Pasal,80,80,Kesatu,Umum,IV,KETENAGAKERJAAN,uu_06_2023
3,Ketenagakerjaan,539,Bagian,Kedua,80,Kesatu,Umum,IV,KETENAGAKERJAAN,uu_06_2023
4,Beberapa ketentuan dalam Undang-Undang Nomor 1...,539,Pasal,81,81,Kedua,Ketenagakerjaan,IV,KETENAGAKERJAAN,uu_06_2023

In [8]:

order = ['uu_id','bab','konten_bab', 'bagian','nama_bagian','pasal', 'context', 'context_number', 'content','halaman']

# Reorder the columns
data = data[order]
data.head(20)

,uu_id,bab,konten_bab,bagian,nama_bagian,pasal,context,context_number,content,halaman
0,uu_06_2023,IV,KETENAGAKERJAAN,None,None,None,BAB,IV,KETENAGAKERJAAN,538
1,uu_06_2023,IV,KETENAGAKERJAAN,None,None,None,Bagian,Kesatu,Umum,538
2,uu_06_2023,IV,KETENAGAKERJAAN,Kesatu,Umum,80,Pasal,80,Dalam rangka penguatan perlindungan kepada ten...,538
3,uu_06_2023,IV,KETENAGAKERJAAN,Kesatu,Umum,80,Bagian,Kedua,Ketenagakerjaan,539
4,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Pasal,81,Beberapa ketentuan dalam Undang-Undang Nomor 1...,539
5,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,1,Ketentuan Pasal 13 diubah sehingga berbunyi se...,539
6,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,2,Ketentuan Pasal 14 diubah sehingga berbunyi se...,539
7,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,2,(2) Bagi lembaga Pelatihan Kerja swasta yang t...,540
8,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,3,Ketentuan Pasal 37 diubah sehingga berbunyi se...,540
9,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,4,Ketentuan Pasal 42 diubah sehingga berbunyi se...,540
10,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,4,(3) Ketentuan sebagaimana dimaksud pada ayat (...,541
11,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,5,Pasal 43 dihapus.,541
12,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,6,Pasal 44 dihapus.,541
13,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,7,Ketentuan Pasal 45 diubah sehingga berbunyi se...,541
14,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,7,(1) b. melaksanakan pendidikan dan Pelatihan K...,542
15,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,8,Pasal 46 dihapus.,542
16,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,9,Ketentuan Pasal 47 diubah sehingga berbunyi se...,542
17,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,10,Pasal 48 dihapus.,542
18,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,11,Ketentuan Pasal 49 diubah sehingga berbunyi se...,542
19,uu_06_2023,IV,KETENAGAKERJAAN,Kedua,Ketenagakerjaan,81,Ayat,12,Ketentuan Pasal 56 diubah sehingga berbunyi se...,543

In [9]:
data.to_excel("C://Users//Ajeng//Documents//Project Intern Xeratic//final project repo//final_uu_06_23.xlsx")